.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 30px;
  text-align: center;

   & > .avatarBlock > *{
    margin: 10px;
   }
}
