.root {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  image-rendering: optimizeQuality ;
  border-radius: 30px;
  margin-right: 10px;
}

.userName {
  font-weight: 500;
  font-size: 14px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.additional {
  font-size: 12px;
  opacity: 0.6;
}
