.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: rgb(28, 18, 53);
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  transition: all .5s;

  &:hover {
    background-color: #ecebea;
    color: #000;

  }
}

.buttons {
  button {
    margin-left: 10px;
    background-color: rgb(28, 18, 53) !important;
    color: #fff;
    font-weight: bold;
  }

  button:hover{
    background-color: #ecebea !important;
    color: #000;

  }
  a {
    text-decoration: none;
  }

  display: flex;
  align-items: center;

  .avatarLogo{
    margin-left: 10px;
  }
}
